html {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../images/pattern.jpeg");
}

#brushes h2 {
  background-color: mediumspringgreen;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

#frames h2 {
  background-color: lightcoral;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

#paint h2 {
  background-color: skyblue;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

span {
  color: blue;
  font-weight: bold;
}
